<div class="container contenedor">

    <div class="container text-center">
        <h1>SKILLS</h1>
    </div>
    

    
    <div class="row">
        <h1>FRONT:</h1>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/html-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="70"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/css-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="75"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/javascript-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="60"
            [imageWidth]="60"
            [percent]="70"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/angular-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="75"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
    </div>
    


    
    <div class="row">
        <h1>BACK:</h1>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/spring-boot-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="150"
            [percent]="50"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/java-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="50"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/mysql-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="50"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/mongodb-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="50"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/python-si.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="60"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="circulo">
            <circle-progress
            [imageSrc]="'../assets/smalltalk.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [percent]="50"
            [radius]="55"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(2, 2, 2)'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
    </div>
    
         
</div>   