<div class="container">
  <form>
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <h1>Iniciar sesión</h1>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" class="form-control"
          required/>
        <label class="form-label" for="nombreUsuario"><b>Usuario</b></label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required />
        <label class="form-label" for="password"><b>Password</b></label>
      </div>



      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4" >Sign in</button>
    </form>


    <!-- Register buttons -->
    <div class="text-center">
      <p>¿No estas registrado? <a  routerLink="register" routerLinkActive="active-link">Registrarme</a></p>
    </div>
  </form>
</div>