
body{
    --color-font: #D0D3D4;
    --font-family: consolas;
    --primario: #17202A;
    --secundario: #212F3C;
    --terciario:#8b8b8b;
    --general: rgb(5, 217, 255);
    background: var(--primario);
}

